<xf:title>{{ phrase('tckEmailListVerifyIntegration_email_list_verify_logs') }}</xf:title>

<xf:if is="$logs is not empty">
	<div class="block">
		<div class="block-container">
			<div class="block-body">
				<xf:datalist>
					<xf:foreach loop="$logs" value="$log">
						<xf:datarow overlay="true">
							<xf:main href="{{ link('logs/email-list-verify', $log) }}" label="{$log.email}">
								<xf:hint>{$log.response_phrase}</xf:hint>
								<xf:explain><xf:date time="{$log.log_date}" /></xf:explain>
							</xf:main>
							<xf:action href="{{ link('logs/email-list-verify/refresh', $log) }}">{{ phrase('tckEmailListVerifyIntegration_refresh') }}</xf:action>
						</xf:datarow>
					</xf:foreach>
				</xf:datalist>
			</div>
			<div class="block-footer">
				<span class="block-footer-counter">{{ display_totals($entries, $total) }}</span>
			</div>
		</div>

		<xf:pagenav page="{$page}" perpage="{$perPage}" total="{$total}"
			link="logs/email-list-verify"
			wrapperclass="block-outer block-outer--after" />
	</div>
<xf:else />
	<div class="blockMessage">{{ phrase('no_items_have_been_created_yet') }}</div>
</xf:if>